.nav {
	margin: 0;
	padding-left: 0;
}
.nav li {
	list-style-type: none;
}

@include media-query($from: $mobile-nav-breakpoint) {
	.main-navigation .navbar-nav {
		.sub-menu {
			display: none;
		}
		.nav-item {
			display: inline-block;
		}
		.nav-link {
			font-size: 17px;
			display: block;
			padding: 0 1rem;
			color: $navbar-link-color;
			font-weight: 300;
			@include font-smoothing(off);
		}

		.dropdown-menu {
			border-radius: 0;
			background: transparentize($gray-lightest, 0.1);
			margin-top: -1px;
			&.open {
				display: block;
			}
			.nav-item {
				display: block;
			}
			.nav-link {
				display: block;
				line-height: 1.5;
				padding: 0.5rem 1rem;
				min-width: 160px;
				color: $mobile-nav-link-color;
				border-bottom: 1px solid $mobile-nav-border-color;
			}
		}
	}

}