section.blox.parallax-sec {
	max-width: 100%;
}

.parallax-section {
	background-position: center center;
	background-attachment: scroll !important;
	background-size:cover;
	background-repeat: no-repeat;

}