.cf {
    @include clearfix();
}

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

$alignments: (center, left, right, justify);

@each $alignment in $alignments {
    .text-#{$alignment} {
        text-align: $alignment;
    }
}