@import "mixins/font-smoothing";
@import "mixins/media-query";
@import "mixins/ifont";


@mixin underlinedLink() {
	font-weight: 400;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
