#page {
    position: relative;
}

.mobile-nav-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -270px;
    width: 270px;
    height: 100%;
    background: $brand-primary;
    text-align: center;
}

.mobile-nav-drawer {
    .nav-item {
        width: 100%;
    }
    .nav-link {
        display: block;
        width: 100%;
        color: #fff;
        padding: 1rem;
    }
}